/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
	user-select: none;
 	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}

html, body { height: 100%; background-color: #1E1E1E; }

.hidden {
	display: none;
}

.activitybar {
	position: fixed;
	float: left;
	width: 50px;
	height: 100%;
	
	background-color: #333333;
}
	
	.activitybar .action-item {
		margin-top: 10px;
		margin-bottom: 10px;
		
		opacity: 0.6;
	}
	
	.activitybar .action-item:hover,
	.activitybar .action-item.active {
		opacity: 1;
	}

	.activitybar .action-item .action-label {
		display: block;
		height: 40px;
		width: 50px;
		text-align: center;
		line-height: 40px;
	}

.sidebar {
	width: 241px;
	height: 100%;
	
	font-family: 'Open Sans', 'Segoe UI', HelveticaNeue-Light, sans-serif;
	
	position: fixed;
	left: 50px;
	
	background-color: #252526;
}

	.sidebar .sidebar-title {
		display: block !important;
		padding-left: 8px;
		padding-right: 8px;
		height: 35px;
		box-sizing: border-box;
		overflow: hidden;
	}
	
		.sidebar .sidebar-title .title-label {
			padding: 0 0 0 12px;
		}
		
		.sidebar .sidebar-title span {
			white-space: nowrap;
			overflow: hidden;
			color: #bbbbbb;
			font-family: 'Open Sans', 'Segoe UI', HelveticaNeue-Light, sans-serif;
			font-size: 11px;
			line-height: normal;
			text-transform: uppercase;
		}
		
	.sidebar .sidebar-content {
		font-size: 13px;
		overflow: hidden;
	}
	
		.sidebar .sidebar-content .part {
			display: block;
			width: 100%;
		}
	
			.sidebar .sidebar-content .part .header {
				display: block !important;
				padding-left: 8px;
				height: 24px;
				background-color: rgba(128, 128, 128, 0.0980392);
			}
			
				.sidebar .sidebar-content .part .header .title {
					padding-left: 12px;
					color: #cccccc;
					font-size: 11px;
					font-weight: bold;
					line-height: 24px;
					text-transform: uppercase;
				}
			
			.sidebar .sidebar-content .part .body {
				/* Nothing ;o */
			}
				.sidebar .sidebar-content .part .body .sidebar-row {
					color: #cccccc;
				}
				.sidebar .sidebar-content .part .body .sidebar-row.selected {
					background-color: #3F3F46;
				}
				
					.sidebar-searchbox {
						position: relative;
						margin: 6px 17px 0 17px;
						background-color: #3c3c3c;
						height: 25px;
					}
					
					.sidebar-searchbox .controls {
						position: absolute;
						top: 3px;
						right: 2px;
						cursor: pointer;
					}
					
					.sidebar-searchbox .controls .sidebar-input-button {
						margin-left: 2px;
						opacity: 0.7;
						width: 20px;
						height: 20px;
						border: 1px solid transparent;
					}
				
					.sidebar-searchbox .sidebar-input-wrapper {
						position: relative;
						background-color: #3c3c3c;
						
						width: 100%;
						height: 100%;
					}
					
						.sidebar-searchbox .sidebar-input-wrapper .sidebar-input {
							display: inline-block;
							border: none;
							padding: 4px;
							background-color: #3c3c3c;
							color: #cccccc;
							
							height: 25px;
							width: 172px;
							height: 100%;
						}
						.sidebar-searchbox .sidebar-input-wrapper .sidebar-input:focus {
							outline: 0;
						}
						
					.sidebar-searchbox-details {
						  padding: 0;
						  margin-left: 17px;
						  margin-right: 17px;
						  width: calc(100% - 17px - 17px);
						  background-color: #2D2D30;
						  display: inline-block;
					}
					
						.sidebar-searchbox-details .detail-box {
							margin-left: 5px;
							margin-right: 5px;
							margin-bottom: 5px;
						}
							.sidebar-searchbox-details .detail-box h4 {
								font-size: 12px;
							}
							.sidebar-searchbox-details .detail-box select {
								border: none;
								height: 25px;
								width: 100%;
								background-color: #3c3c3c;
							}
                            .sidebar-searchbox-details .detail-box select:focus {
								outline: none;
							}

.content {
	margin-left: 291px;
}

.statusbar {
	background-color: #007acc;
	z-index: 25;
	position: absolute;
	bottom: 0;
	display: block;
	
	/*width: calc(100% - 20px);*/
	width: 100%;
	height: 22px;
	
	padding-left: 10px;
	padding-right: 10px;
}

	.statusbar .statusbar-item {
		margin-right: 10px;
		
		display: inline-block;
		line-height: 22px;
		height: 100%;
		vertical-align: top;
		
		font-family: 'Open Sans', 'Segoe UI', HelveticaNeue-Light, sans-serif;
		font-size: 12px;
		color: white;
	}
	
	.statusbar .statusbar-item.right {
		float: right;
	}