<div class="sidebar">
	<div class="sidebar-title">
		<div class="title-label">
			<span>Explore</span>
		</div>
	</div>
	<div class="sidebar-content">
		<div class="part">
			<div class="header">
				<div class="title">Search</div>
			</div>
			<div class="body">
				<div class="sidebar-row">
					<div class="sidebar-searchbox">
						<div class="sidebar-input-wrapper">
							<input ng-model="searchText" type="text" ng-enter="search()" class="sidebar-input">
						</div>
						<div class="controls">
							<div class="sidebar-input-button">
								<i ng-click="searchNext()" class="fa" ng-class="searchClass"></i>
							</div>
						</div>
					</div>
					<div class="sidebar-searchbox-details hidden">
						<div class="detail-box">
							<h4>search in</h4>
							<select name="" id="">
								<option value="summoners">Summoners</option>
								<option value="items">Items</option>
								<option value="tomod"></option>
								<option value="tomod"></option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Search part -->
		<!-- Recently opened category -->
	</div>
</div>
<section class="content container-fluid">
	<!-- Main content -->
</section>